# .env.example
# Storage Configuration
USE_FIRESTORE=true

# Firebase Client Config (per il frontend)
VITE_FIREBASE_API_KEY=your-api-key
VITE_FIREBASE_AUTH_DOMAIN=your-auth-domain
VITE_FIREBASE_PROJECT_ID=your-project-id
VITE_FIREBASE_STORAGE_BUCKET=your-storage-bucket
VITE_FIREBASE_MESSAGING_SENDER_ID=your-messaging-sender-id
VITE_FIREBASE_APP_ID=your-app-id

# TripAdvisorScrapingAPI
VITE_SCRAPING_API_KEY=your-scraping-api-key
VITE_SCRAPING_API_URLS=url1,url2,url3

# Firebase Admin Config (per il backend)
FIREBASE_PROJECT_ID=your-project-id
FIREBASE_CLIENT_EMAIL=your-client-email
FIREBASE_PRIVATE_KEY="your-private-key"